<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
<body>
	<p></p>
	<p></p>
	<p></p>
	<div class="row">
		<div class="col-md-8" width = "100%">
			<select name="selectedData" id="data_selector" class="form-control" [(ngModel)]="selectedData"
			(ngModelChange)="onChange($event)" style="max-width:800px;">
			    <option *ngFor="let data of databases" [ngValue]="data.value">
						{{ data.viewValue }}</option>
		 </select>
		</div>
	</div>
	<p></p>
 	<p></p>
	<p></p>
	<p></p>
	<p></p>
  <div class="control-section" style="height: 1000px;overflow:auto;">
   <ejs-pivotview #pivotview id='PivotView' [dataSourceSettings]=dataSourceSettings width='100%' height='500'
        showGroupingBar='true' allowCalculatedField='true' showFieldList='true' allowConditionalFormatting='true'
        showToolbar='true' allowPdfExport='true' allowExcelExport='true' [gridSettings]='gridSettings'>
   </ejs-pivotview>
   </div>
    <div class="row">
      <div class="col-md-2"><button ej-button id='formatting' style="background: black"><i class="fas fa-paint-brush"></i> Apply Formatting</button></div>
      <div class="col-md-2"><button ej-button id='pdf_export' style="background: red"><i class="fas fa-file-pdf"></i> PDF Export</button></div>
      <div class="col-md-2"><button ej-button id='excel_export'style="background: green"><i class="fas fa-file-excel"></i> Excel Export</button></div>
    </div>
</body>
</html>
