<div class="container-fluid">
  <ngx-extended-pdf-viewer [src]="src"
                            backgroundColor="#ffffff"
                            [showSidebarButton]="true"
                            [showFindButton]="true"
                            [showPagingButtons]="true"
                            [showZoomButtons]="true"
                            [showPresentationModeButton]="true"
                            [showOpenFileButton]="true"
                            [showPrintButton]="true"
                            [showDownloadButton]="true"
                            [showBookmarkButton]="true"
                            [showSecondaryToolbarButton]="true"
                            [showRotateButton]="true"
                            [showHandToolButton]="true"
                            [showScrollingButton]="true"
                            [showSpreadButton]="true"
                            [showPropertiesButton]="true"
                            [useBrowserLocale]="true"
                            [height]="'90vh'"
                            [useBrowserLocale]="true">
  </ngx-extended-pdf-viewer>
</div>
